{%  extends 'blog/base.html' %}
{% load static %}

{% block content %}

		<div class="bg-slider-wrapper">
			<img class="img-fluid" src="{% static 'images/background/equipo2-background.jpg' %}" alt=""/>
        </div><!--//bg-slider-wrapper--> 
        <section class="promo section">
            <div class="container text-center">
				<h2 class="title">
					<span class="middle">Quienes Somos</span>
                    <span class="bottom">Somos un equipo interdisciplinario que ofrece un dispositivo de abordaje gerontológico integral, cuyo eje principal 
						es el apoyo psicosocial para los adultos mayores, sus familias y redes de apoyo.</span>
				</h2>
            </div><!--//container-->
        </section><!--//promo-->
	</div><!--//header-wrapper-->
    
    <!-- ******team Section****** -->
    <section id="team" class="team section">
        <div class="container">
            <h2 class="title text-center">Conoce al equipo</h2>
            <p class="intro text-center">Sumamos nuestras experiencias, formaciones profesionales y conocimientos gerontológicos adquiridos a lo largo de 
			nuestras “Trayectorias” para pensar estrategias que apuesten a mejorar la calidad de vida de las personas mayores y su entorno. </p>
            <div class="row">
                <div class="item col-md-12 col-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-4 col-12">
                                <img class="img-fluid" src="{% static 'images/team/member-1.jpg' %}" alt=""/>
                            </figure>
                            <div class="info col-md-8 col-12">
                                <p>Soy Marilina Mena Palacios, licenciada en Trabajo Social graduada en la Universidad Nacional de Lanús, especialista en 
								Intervención y Gestión Gerontológica (Universidad Nacional de Tres de Febrero), con vasta trayectoria en el trabajo 
								individual, grupal  e institucional con personas mayores, sus familias y contextos.<br>
								Ejerzo la docencia, formando profesionales de la salud en el campo gerontológico en la Universidad Nacional de Tres de 
								Febrero. Mi Formación de postgrado en salud social y comunitaria permitió el pasaje por diversas instituciones de salud 
								que dieron sustento a mi trayectoria: hospitales del conurbano bonaerense, ministerio de salud de la nación y desde el 
								año 2009 hasta la actualidad, en diversas funciones en el instituto Nacional de Servicios Sociales de Jubilados y 
								Pensionados.<br>
								Los Variados roles de intervención y gestión a lo largo de la trayectoria en el PAMI y en otras instituciones, permiten 
								que hoy pueda realizar tareas de coordinación, supervisión, capacitación y atención de problemáticas complejas del campo 
								gerontológico tanto a nivel individual, grupal como institucional, con eficiencia y óptimos resultados.</p>
                            </div><!--//info-->
                        </div><!--//row-->
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div><!--//social-->
                    </div><!--//item-inner-->                    
                </div><!--//item-->
                <div class="item col-md-12 col-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-4 col-12">
                                <img class="img-fluid" src="{% static 'images/team/member-1.jpg' %}" alt=""/>
                            </figure>
                            <div class="info col-md-8 col-12">
                                <p>Mi nombre es Mariana Fortunato, soy licenciada en Psicología egresada de la Universidad Nacional de La Plata y 
								Especialista en Gerontología Institucional y Comunitaria por la Universidad Nacional de Mar del Plata.<br>
								Desde hace más de diez años, desarrollo mi actividad profesional en instituciones públicas y privadas acompañando el 
								proceso de envejecimiento de las personas a través de distintas modalidades de intervención tanto grupales como individuales.<br>
								Mi inclusión en organizaciones como PAMI, mi trabajo como miembro en equipos interdisciplinario abocados al abordaje de 
								diversas situaciones dentro del campo del envejecimiento y vejez me han permitido construir una sólida formación que he puesto 
								al servicio de generar una mejora en la calidad de vida de las personas adultas mayores con las que trabajo cotidianamente.<br>
								Hoy toda mi experiencia y formación me permiten ofrecer acompañamiento y asesoramiento de equipos de instituciones que 
								trabajan con adultos mayores, como así también brindar atención individual/grupal a las personas envejecientes en pos de 
								generar un impacto positivo en el proceso de envejecimiento, rescatando los aspectos positivos y promoviendo los recursos 
								de salud presentes en esta etapa vital.</p>
                            </div><!--//info-->
                        </div><!--//row-->
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div><!--//social-->
                    </div><!--//item-inner-->                    
                </div><!--//item-->
				<div class="item col-md-12 col-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-4 col-12">
                                <img class="img-fluid" src="{% static 'images/team/member-1.jpg' %}" alt=""/>
                            </figure>
                            <div class="info col-md-8 col-12">
                                <p>Mi nombre es Gabriela Pisano Di Filippo, soy licenciada en Sociología  y profesora  de enseñanza media y superior en 
								Sociología egresada de la Universidad Nacional de Buenos Aires. Cursé la Diplomatura en Introducción de la Gerontología 
								Comunitaria del INSSJP.<br>
								Ejercí y ejerzo la docencia en diferentes ámbitos: universidades, secundaria para adultos, actualización laboral y 
								talleres comunitarios. Con diversas modalidades: tradicional, educación comunitaria, modalidad taller o a distancia. 
								Sigo formándome y trabajando para mejorar el proceso educativo.<br>
								Trabajo hace doce años en el campo de la salud. Primero en un hospital público del conurbano bonaerense y luego en el 
								Instituto Nacional de Servicios Sociales para Jubilados y Pensionados. Participé en diversas investigaciones sobre salud 
								pública, prevención y  estructura poblacional.<br>
								Toda esta trayectoria me da herramientas para compartir y pensar acerca de los desafíos que el envejecimiento 
								individual y poblacional plantea.</p>
                            </div><!--//info-->
                        </div><!--//row-->
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div><!--//social-->
                    </div><!--//item-inner-->                    
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//team-section-->
    
    <!-- ******Job Section****** -->
    <section class="join-us section">
        <div class="container">
            <h2 class="title text-center">#TrayectoriasEnRed</h2>
            <p class="intro text-center">Si querés parte de #TrayectoriasEnRed y compartir tu propuesta contactate con nosotras.</p>
        </div><!--//row-->
    </section><!--//job-->

{% endblock %}