{%  extends 'blog/base.html' %}
{% load static %}

{% block content %} 

		<div class="bg-slider-wrapper">
            {% if post.file %}
                <img class="img-fluid" style="max-height: 400px;" src="{{ post.file.url }}" alt=""/>
            {% else %}
                <img class="img-fluid" src="{% static 'images/background/blog2-background.jpg' %}" alt=""/>
            {% endif %}
		</div><!--//bg-slider-wrapper--> 
		<section class="promo section">
            <div class="container text-center">  
            </div><!--//container-->
        </section><!--//promo-->
    </div><!--//header-wrapper-->
       
    <!-- ******Blog Post****** -->
    <div class="blog-post-wrapper container">            
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">               
                <article class="post">
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">Eliminar</span></a>
                    {% endif %}
                    <h2 class="title">{{ post.title }}</h2>
					<h3 class="subtitle">{{ post.subtitle }}</h3>
                    <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.published_date }}</p>
                    <div class="content">
						<div class="text">
							{{ post.text|safe }}
						</div>
                    </div>
                    
                    
                    <!--//Soical media buttons: https://github.com/kni-labs/rrssb (More examples) -->
                    <div class="share-container">
                        <span class="label">share this:</span>
						<div class="container center">                                   
							<ul class="share-icons list-inline">
								<li class="rrssb-facebook">
									<!-- Replace with your URL. For best results, make sure you page has the proper FB Open Graph tags in header:
									https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/ -->
									<a href="https://www.facebook.com/sharer/sharer.php?u=http://kurtnoble.com/labs/rrssb/index.html" class="popup">
										<span class="rrssb-icon">
											<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
												<path d="M27.825,4.783c0-2.427-2.182-4.608-4.608-4.608H4.783c-2.422,0-4.608,2.182-4.608,4.608v18.434
													c0,2.427,2.181,4.608,4.608,4.608H14V17.379h-3.379v-4.608H14v-1.795c0-3.089,2.335-5.885,5.192-5.885h3.718v4.608h-3.726
													c-0.408,0-0.884,0.492-0.884,1.236v1.836h4.609v4.608h-4.609v10.446h4.916c2.422,0,4.608-2.188,4.608-4.608V4.783z"/>
											</svg>
										</span>
									</a>
								</li>
								<li class="rrssb-twitter">
									<!-- Replace href with your Meta and URL information  -->
									<a href="http://twitter.com/home?status=Ridiculously%20Responsive%20Social%20Sharing%20Buttons%20by%20@joshuatuscan%20and%20@dbox%20http://kurtnoble.com/labs/rrssb" class="popup">
										<span class="rrssb-icon">
											<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
											<path d="M24.253,8.756C24.689,17.08,18.297,24.182,9.97,24.62c-3.122,0.162-6.219-0.646-8.861-2.32
												c2.703,0.179,5.376-0.648,7.508-2.321c-2.072-0.247-3.818-1.661-4.489-3.638c0.801,0.128,1.62,0.076,2.399-0.155
												C4.045,15.72,2.215,13.6,2.115,11.077c0.688,0.275,1.426,0.407,2.168,0.386c-2.135-1.65-2.729-4.621-1.394-6.965
												C5.575,7.816,9.54,9.84,13.803,10.071c-0.842-2.739,0.694-5.64,3.434-6.482c2.018-0.623,4.212,0.044,5.546,1.683
												c1.186-0.213,2.318-0.662,3.329-1.317c-0.385,1.256-1.247,2.312-2.399,2.942c1.048-0.106,2.069-0.394,3.019-0.851
												C26.275,7.229,25.39,8.196,24.253,8.756z"/>
											</svg>
									   </span>
									</a>
								</li>
								<li class="rrssb-linkedin">
									<!-- Replace href with your meta and URL information -->
									<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://kurtnoble.com/labs/rrssb/index.html&amp;title=Ridiculously%20Responsive%20Social%20Sharing%20Buttons&amp;summary=Responsive%20social%20icons%20by%20KNI%20Labs" class="popup">
										<span class="rrssb-icon">
											<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
												<path d="M25.424,15.887v8.447h-4.896v-7.882c0-1.979-0.709-3.331-2.48-3.331c-1.354,0-2.158,0.911-2.514,1.803
													c-0.129,0.315-0.162,0.753-0.162,1.194v8.216h-4.899c0,0,0.066-13.349,0-14.731h4.899v2.088c-0.01,0.016-0.023,0.032-0.033,0.048
													h0.033V11.69c0.65-1.002,1.812-2.435,4.414-2.435C23.008,9.254,25.424,11.361,25.424,15.887z M5.348,2.501
													c-1.676,0-2.772,1.092-2.772,2.539c0,1.421,1.066,2.538,2.717,2.546h0.032c1.709,0,2.771-1.132,2.771-2.546
													C8.054,3.593,7.019,2.501,5.343,2.501H5.348z M2.867,24.334h4.897V9.603H2.867V24.334z"/>
											</svg>
										</span>
									</a>
								</li>                    
							</ul>
						</div><!--//container-->
                    </div><!--//share-container-->    
                    <div class="clearfix"></div>
                    <nav class="post-nav">
    						<span class="nav-previous"><a href="#" rel="prev"><i class="fas fa-long-arrow-alt-left"></i>Previous</a></span>
    						<span class="nav-next"><a href="#" rel="next">Next<i class="fas fa-long-arrow-alt-right"></i></a></span>
    				</nav><!--//post-nav-->
    				
                    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
                    {% for comment in post.comments.all %}
                        {% if user.is_authenticated or comment.approved_comment %}
                            <div class="comment">
                                <div class="date">{{ comment.created_date }}
                                    {% if not comment.approved_comment %}
                                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                                    {% endif %}
                                </div>
                                <strong>{{ comment.author }}</strong>
                                <p>{{ comment.text|linebreaks }}</p>
                            </div>
                        {% endif %}
                    {% empty %}
                        <p>No hay comentarios todavia!</p>
                    {% endfor %}

    				<div id="comment-area" class="comment-area">
    				    <div class="comment-container">        				    
        				    <div class="comment-list">
            				    <h3 class="title">5 Comments</h3>
            				    <div class="comment-item depth-1 parent">
                				    <div class="comment-item-box">
                    				    <div class="comment-author">
                        				    <img class="img-fluid" src="assets/images/comment/user-1.jpg" alt="" />
                    				    </div><!--//comment-author-->
                    				    <div class="comment-body">
                        				    <cite class="name">Elie White Says:</cite>
                        				    <p class="time">Feb 22, 2015 at 3:16pm</p>
                        				    <div class="content">
                            				    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                        				    </div><!--//content-->
                        				    <a class="comment-reply-link btn btn-cta btn-cta-secondary" href="#">Comentar</a>
                    				    </div><!--//comment-body-->          
                				    </div><!--//comment-box-->    
                				    <div class="children">
                    				    <div class="comment-item depth-2 child">
                        				    <div class="comment-item-box">
                            				    <div class="comment-author">
                                				    <img class="img-fluid" src="assets/images/comment/user-2.jpg" alt="" />
                            				    </div><!--//comment-author-->
                            				    <div class="comment-body">
                                				    <cite class="name">Tyler Oliver Says:</cite>
                                				    <p class="time">Mar 22, 2015 at 4:23pm</p>
                                				    <div class="content">
                                    				    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus.</p>
                                				    </div><!--//content-->
                                				    <a class="comment-reply-link btn btn-cta btn-cta-secondary" href="#">Comentar</a>
                            				    </div><!--//comment-body-->          
                        				    </div><!--//comment-box--> 
                        				    <div class="children">
                            				    <div class="comment-item depth-3 child">
                                				    <div class="comment-item-box">
                                    				    <div class="comment-author">
                                        				    <img class="img-fluid" src="assets/images/comment/user-1.jpg" alt="" />
                                    				    </div><!--//comment-author-->
                                    				    <div class="comment-body">
                                        				    <cite class="name">Elie White Says:</cite>
                                        				    <p class="time">Mar 22, 2015 at 8:16pm</p>
                                        				    <div class="content">
                                            				    <p>Thanks!</p>
                                        				    </div><!--//content-->
                                        				    <a class="comment-reply-link btn btn-cta btn-cta-secondary" href="#">Comentar</a>
                                    				    </div><!--//comment-body-->          
                                				    </div><!--//comment-box--> 
                            				    </div><!--//comment-item depth-3-->
                        				    </div><!--//children-->
                    				    </div><!--//comment-item depth-2-->
                				    </div><!--//children--> 				    
            				    </div><!--//comment-item depth-1-->
            				    
            				    <div class="comment-item depth-1 parent">
                				    <div class="comment-item-box">
                    				    <div class="comment-author">
                        				    <img class="img-fluid" src="assets/images/comment/user-3.jpg" alt="" />
                    				    </div><!--//comment-author-->
                    				    <div class="comment-body">
                        				    <cite class="name">Carl Jones Says:</cite>
                        				    <p class="time">Feb 23, 2015 at 9:35m</p>
                        				    <div class="content">
                            				    <p>Sed condimentum vel quam ut sagittis. Aliquam erat enim, lobortis sit amet tellus accumsan, scelerisque porttitor sem. Suspendisse dictum risus id iaculis sodales phasellus id ex aliquam.</p>
                        				    </div><!--//content-->
                        				    <a class="comment-reply-link btn btn-cta btn-cta-secondary" href="#">Comentar</a>
                    				    </div><!--//comment-body-->          
                				    </div><!--//comment-box--> 
            				    </div><!--//comment-item depth-1-->
            				    
            				    <div class="comment-item depth-1 parent">
                				    <div class="comment-item-box">
                    				    <div class="comment-author">
                        				    <img class="img-fluid" src="assets/images/comment/user-4.jpg" alt="" />
                    				    </div><!--//comment-author-->
                    				    <div class="comment-body">
                        				    <cite class="name">Kathy Morgan Says:</cite>
                        				    <p class="time">Jan 03, 2015 at 9:35m</p>
                        				    <div class="content">
                            				    <p>Nunc in urna eu lorem accumsan placerat vel eu turpis. Etiam laoreet posuere mauris, id pharetra orci molestie sit amet. Duis pretium diam ex, vitae eleifend diam ornare sit amet. </p>
                        				    </div><!--//content-->
                        				    <a class="comment-reply-link btn btn-cta btn-cta-secondary" href="#">Comentar</a>
                    				    </div><!--//comment-body-->          
                				    </div><!--//comment-box--> 
            				    </div><!--//comment-item depth-1-->
            				    
        				    </div><!--comment-list-->
    				    </div><!--//comments-container-->
    				    
    				    <div class="comment-form-container">
        				    <h3 class="title">Leave a comment</h3>
        				    <form id="comment-form" class="comment-form form" method="POST">
                                {% csrf_token %}
                                <div class="row"> 
                                    <div class="col-md-6 col-12 form-group">
                                        <label class="sr-only" for="cname">Autor</label>
                                        <input type="text" class="form-control" id="author" name="author" placeholder="Name" minlength="2" required>
                                    </div>                    
                                    <div class="col-md-6 col-12 form-group">
                                        <label class="sr-only" for="cemail">Email</label>
                                        <input type="email" class="form-control" id="cemail" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="col-12 form-group">
                                        <label class="sr-only" for="ccomment">Deja un comentario</label>
                                        <textarea class="form-control" id="text" name="comment" placeholder="Leave your comment" rows="12" required></textarea>
                                    </div>
                                    <div class="col-12 form-group">
                                        <button type="submit" class="btn btn-cta btn-cta-secondary">Submit Comment</button>
                                    </div>
                                </div><!--//row-->
                                <div id="form-messages"></div>
                            </form><!--//contact-form-->
    				    </div><!--//comment-form-container-->    				    
    				</div><!--//comment-area-->                                           
                </article><!--//post-->                                      
            </div><!--//blog-entry-->
        </div><!--//row-->
    </div><!--//blog-->
    
{% endblock %}