{%  extends 'blog/base.html' %}
{% load static %}

{% block content %}

		<div class="bg-slider-wrapper">
			<img class="img-fluid" src="{% static 'images/background/blog-background.jpg' %}" alt=""/>
        </div><!--//bg-slider-wrapper--> 
        <section class="promo section">
            <div class="container text-center">  
				<h2 class="title">
					<span class="middle">Novedades</span>
                    <span class="bottom-small">Homogeneizar a la gente mayor en función de la edad supone ignorar la enorme diversidad que existe entre las personas 
					ancianas y pasar por alto la aportación efectuada por ellas a la vida y, además, oscurece su papel como apoyo al ejercer en trabajos 
					voluntarios y en la atención informal que brindan sobre todo a su cónyuge y a la vecindad” (Alber y Ginn, 1990).<br>
					Desde Trayectorias reflexionamos acerca de la importancia de desmitificar la construcción social que homogeiniza la vejez y de visibilizar 
					los aportes que brindan lxs mayores a nuestra sociedad.</span>
				</h2>
            </div><!--//container-->
        </section><!--//promo-->
    </div><!--//header-wrapper-->
	
	<!-- ******Latest blog Section****** -->
    <section id="blog-list" class="blog-list section">
        <div class="container">
			<div class="row">
				{% if user.is_authenticated %}
					<div class="col-lg-10 col-md-10 mx-auto">
						<a class="btn btn-primary" href="{% url 'post_new' %}">Nuevo</a>
						<a class="btn btn-primary" href="{% url 'post_draft_list' %}">Borradores</a>
					</div>
				{% endif %}
				<div class="col-lg-10 col-md-10 mx-auto">
					{% for posts in page_obj %}
						<div class="post-preview">
					        <a href="{% url 'blog-post' pk=posts.pk %}">
								<h2 class="post-title">{{ posts.title }}</h2>
								<h3 class="post-subtitle">{{ posts.subtitle }}</h3>
							</a>
							<p class="post-meta">Posted by <a href="#">{{ posts.author }}</a> on {{ posts.published_date }}</p>
					    </div>
					<hr>
				    {% empty %}
    					<p>No hay entradas creadas!</p>
				    {% endfor %}
					
					<!-- Pager -->
					<div class="pagination-container text-center">
						<ul class="pagination justify-content-center">
							{% if page_obj.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page={{ page_obj.previous_page_number }}" arial-label="previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Anterior</span>
									</a>
								</li>
					        {% endif %}
					        <li class="page-item">
						        <span class="current_pages">
						            Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
						            &nbsp;
						        </span>
						    </li>

					        {% if page_obj.has_next %}
					        	<li class="page-item">
									<a class="page-link" href="?page={{ page_obj.next_page_number }}">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
					        {% endif %}
						</ul><!--//pagination-->
					</div><!--//pagination-container-->
				</div>
			</div>
		  </div>
    </section><!--//latest-blog-->
	
{% endblock %}
