{%  extends 'blog/base.html' %}
{% load static %}

{% block content %}

        <div class="bg-slider-wrapper">
			<img class="img-fluid" src="{% static 'images/background/home-background.jpg' %}" alt=""/>
        </div><!--//bg-slider-wrapper--> 
        <section id="home-promo" class="home-promo section">
            <div class="container text-center">                
                <h2 class="title">
                    <span class="middle">Asesoría Gerontológica</span>
                    <span class="bottom">Buscamos contribuir con otras formas de pensar el envejecimiento.<br>Sumar miradas y voces acalladas.</span>
                </h2>
            </div><!--//container-->
        </section><!--//promo-->
    </div><!--//header-wrapper-->
       
    <!-- ******Why Section****** -->
    <section id="who" class="who section">
        <div class="container text-center">
            <h2 class="title text-center">Quienes Somos</h2>
            <p class="intro text-center">Somos un equipo interdisciplinario que ofrece un dispositivo de abordaje gerontológico integral, cuyo eje principal 
				es el apoyo psicosocial para las personas mayores, sus familias y redes de apoyo.</p>
            <div class="row benefits text-center">
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>                        
                        <h3 class="sub-title">Evaluaciones Gerontológicas</h3>
                        <div class="desc">
                            <p>Tratamientos integrales de personas mayores que requieran de acompañamiento psicosocial subjetivo.</p>
                        </div>                
                    </div>       
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe01c;"></div>
                        <h3 class="sub-title">Orientación a familiares</h3>
                        <div class="desc">
                            <p>Contención a familiares de personas mayores en situación de fragilidad y/o dependencia.</p>
                        </div>   
                    </div><!--//item-inner-->                    
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe031;"></div>
                        <h3 class="sub-title">Grupos de reflexión</h3>
                        <div class="desc">
                            <p>Abordajes grupales de multiestimulación</p>
                        </div>            
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>                        
                        <h3 class="sub-title">Estimulación cognitiva</h3>
                        <div class="desc">
                            <p>Tell your potential client why they should choose your service and how you are different from your competitors.</p>
                        </div>         
                    </div><!--//item-inner-->              
                </div><!--//item-->
				<div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>                        
                        <h3 class="sub-title">Capacitaciones</h3>
                        <div class="desc">
                            <p>Cursos acordes a las necesidades de equipos gerontológicos.</p>
                        </div>         
                    </div><!--//item-inner-->              
                </div><!--//item-->
				<div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>                        
                        <h3 class="sub-title">Supervisiones</h3>
                        <div class="desc">
                            <p>Acompañamiento profesional a instituciones y equipos gerontológicos.</p>
                        </div>         
                    </div><!--//item-inner-->              
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//who-->
    
    <!-- ******Latest blog Section****** -->
    <section id="latest-blog" class="latest-blog section">
        <div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-2 mx-auto">
					<img class="img-fluid" src="{% static 'images/blog/block-index.png' %}" alt="">
				</div>
				<div class="col-lg-8 col-md-10 mx-auto">
                    {% for post in posts %}
                        <div class="post-preview">
                            <a href="{% url 'blog-post' pk=post.pk %}">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                            </a>
                            <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.published_date }}</p>
                        </div>
                    <hr>
                    {% empty %}
                        <p>No hay entradas creadas!</p>
                    {% endfor %}
					
					<div class="clearfix">
						<a class="btn btn-primary float-right" href="{% url 'blog' %}">Seguir leyendo →</a>
					</div>
				</div>
			</div>
		  </div>
    </section><!--//latest-blog-->

{% endblock %}
