{% extends "blog/base.html" %}
{% load static %}

{% block content %}

    <div class="bg-slider-wrapper">
            <img class="img-fluid" src="{% static 'images/background/equipo2-background.jpg' %}" alt=""/>
        </div><!--//bg-slider-wrapper--> 
        <section class="promo section">
            <div class="container text-center">
            </div><!--//container-->
        </section><!--//promo-->
    </div><!--//header-wrapper-->

    <section id="team" class="team section">
        <div class="container">
            {% if form.errors %}
                <p class="text-center">Su usuario y contraseña no son correctos. Por favor, intente nuevamente</p>
            {% endif %}

            <form id="login-form" class="contact-form form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
                <div class="row">
                    <div class="contact-form-inner col-lg-8 col-12 mr-lg-auto ml-lg-auto">
                        <div class="row">     
                            <div class="col-md-4 col-4 form-group">
                                {{ form.username.label_tag }}
                            </div>
                            <div class="col-md-8 col-8 form-group">
                                {{ form.username }}
                            </div>
                            <div class="col-md-4 col-4 form-group">
                                {{form.password.label_tag}}
                            </div>
                            <div class="col-md-8 col-8 form-group">
                                {{ form.password }}
                            </div>
                            <div class="col-6 form-group">
                                <button type="submit" value="login" class="btn btn-block btn-cta btn-cta-primary">Ingresar</button>
                            </div>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div><!--//row-->
                    </div>
                </div><!--//row-->
                <div id="form-messages"></div>
                
            </form>
        </div>
    </section><!--//team-section-->
    
{% endblock %}