{% load static %}

<html>
    <head>

        <title>Trayectorias - Asesoría Gerontológica</title>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">    
        <link rel="shortcut icon" href="{% static 'images/logos/favicon.png' %}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">   
        <!-- Plugins CSS -->    
        <link rel="stylesheet" href="{% static 'plugins/elegant_font/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/flexslider/flexslider.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/assets/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/assets/owl.theme.default.min.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">

        <!-- Theme CSS -->
        <link id="theme-style" rel="stylesheet" href="{% static 'css/theme-1.css' %}">

    </head>
    <body class="home-page">     
        <div class="header-wrapper header-wrapper-home">
        <!-- ******HEADER****** --> 
            <header id="header" class="header fixed-top">  
                <div class="container">       
                    <h1 class="logo">
                        <a href="{% url 'index' %}"><img class="img_logo" src="{% static 'images/logos/logo_trayectorias.png' %}" alt="" /></a>
                    </h1><!--//logo-->
                    <nav class="main-nav navbar navbar-expand-md navbar-dark" role="navigation">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="navbar-collapse" class="navbar-collapse collapse justify-content-end">
                            <ul class="nav navbar-nav">
                                <li class="active nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Quienes Somos</a></li>  
                                <li class="nav-item dropdown"><a class="nav-link disabled" href="{% url 'services' %}">Que hacemos</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Novedades</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contacto</a></li>
                                {% if user.is_authenticated %}
                                    <li class="nav-item last"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-times"></i> Salir</a></li>
                                {% else %}
                                    <li class="nav-item last"><a class="nav-link" href="{% url 'login' %}"><i class="fa fa-check"></i> Ingresar</a></li>
                                {% endif %}
                            </ul><!--//nav-->
                        </div><!--//navabr-collapse-->
                    </nav><!--//main-nav-->
                </div><!--//container-->
            </header><!--//header-->

        {% block content %}
        {% endblock %}

    <!--<body>

        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <p class="top-menu">Hola {{ user.username }}! <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                </div>
            </div>
        </div>

    </body>-->

<!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-lg-6 col-md-4 col-12 links-col">
                        <div class="footer-col-inner">
                            <h3 class="sub-title">Accesos rapidos</h3>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">Quienes Somos</a></li>
                                <li><a href="{% url 'services' %}">Que hacemos</a></li>
                                <li><a href="{% url 'blog' %}">Novedades</a></li>
                                <li><a href="{% url 'contact' %}">Contacto</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="footer-col col-lg-6 col-12 contact-col">
                        <div class="footer-col-inner">
                            <h3 class="sub-title">Contactanos</h3>
                            <p class="intro"></p>
                            <div class="row">
                                <p class="tel col-lg-12 col-md-4 col-12"><span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><a href="tel:+08001234567">0800 123 4567</a></p>
                                <p class="email col-lg-12 col-md-4 col-12"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><a href="#">hello@yourdevstudio.com</a></p> 
                            </div> 
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
                </div>   
            </div>        
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container center">                                   
                <ul class="social-icons list-inline">
                    <li class="list-inline-item"><a href="https://twitter.com/3rdwave_themes"><i class="fa fa-twitter"></i></a></li>                        
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/3rdwavethemes"><i class="fa fa-instagram"></i></a></li>                  
                </ul>
                <a href="#" class="fa fa-twitter"></a>
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
 
    <!-- Main Javascript -->
    <script type="text/javascript" src="{% static 'plugins/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/popper.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>                                                                            
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <!-- Flexslider -->    
    <script type="text/javascript" src="{% static 'plugins/flexslider/jquery.flexslider-min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/flexslider-custom.js' %}"></script>     

    <!-- Form Validation -->
    <script type="text/javascript" src="{% static 'plugins/jquery.validate.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/form-validation-custom.js' %}"></script>

    <!-- Form iOS fix -->
    <script type="text/javascript" src="{% static 'plugins/isMobile/isMobile.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form-mobile-fix.js' %}"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/owl-custom.js' %}"></script> 
    
</body>
</html> 