{% extends 'blog/base.html' %}
{% load static %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

{% block content %}
		<div class="bg-slider-wrapper">
			<img class="img-fluid" src="{% static 'images/background/blog2-background.jpg' %}" alt=""/>
		</div><!--//bg-slider-wrapper--> 
		<section class="promo section">
            <div class="container text-center">
            	<h2 class="title">
					<span class="middle">New post</span>
				</h2>
            </div><!--//container-->
        </section><!--//promo-->
    </div><!--//header-wrapper-->

    <div class="blog-post-wrapper container">            
        <div class="row">
        	<div class="col-lg-10 col-md-10 mx-auto">
				<form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
					{{ form.media }}
					{{ form.as_p }}
					<button type="submit" class="save btn btn-primary">Guardar</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}