{%  extends 'web/blog.html' %}

{% block post_list %}
    {% for post in posts %}
        <div class="post">
            <div class="date"><p>Publicado: {{ post.published_date }}</p></div>

            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|safe }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock post_list %}