{%  extends 'blog/base.html' %}
{% load static %}

{% block content %}

        <div class="bg-slider-wrapper">
            {% if post.file %}
                <img class="img-fluid" style="max-height:400px;" src="{{ post.file.url }}" alt=""/>
            {% else %}
                <img class="img-fluid" src="{% static 'images/background/blog2-background.jpg' %}" alt=""/>
            {% endif %}
        </div><!--//bg-slider-wrapper--> 
    </div><!--//header-wrapper-->

     <!-- ******Blog Post****** -->
    <div class="blog-post-wrapper container">            
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">               
                <article class="post">
                    {% if not post.published_date %}
                        <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publicar</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">Eliminar</span></a>
                    {% endif %}
                    <h2 class="title">{{ post.title }}</h2>
                    <h3 class="subtitle">{{ post.subtitle }}</h3>
                    <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.published_date }}</p>
                    <div class="content">
                        <div class="text">
                            {{ post.text|safe }}
                        </div>
                    </div>
                    <hr>

                    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
                	{% for comment in post.comments.all %}
                		{% if user.is_authenticated or comment.approved_comment %}
                		    <div class="comment">
                		        <div class="date">{{ comment.created_date }}
                		        	{% if not comment.approved_comment %}
                                		<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                		<a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                            		{% endif %}
                		        </div>
                		        <strong>{{ comment.author }}</strong>
                		        <p>{{ comment.text|linebreaks }}</p>
                		    </div>
                		{% endif %}
                	{% empty %}
                	    <p>No hay comentarios todavia!</p>
                	{% endfor %}
                </article><!--//post-->                                      
            </div><!--//blog-entry-->
        </div><!--//row-->
    </div><!--//blog-->

{% endblock %}
