{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
		<div class="bg-slider-wrapper">
			<img class="img-fluid" src="{% static 'images/background/blog2-background.jpg' %}" alt=""/>
		</div><!--//bg-slider-wrapper--> 
		<section class="promo section">
            <div class="container text-center">
            	<h2 class="title">
					<span class="middle">Borradores</span>
				</h2>
            </div><!--//container-->
        </section><!--//promo-->
    </div><!--//header-wrapper-->

    <section id="blog-list" class="blog-list section">
        <div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-10 mx-auto">
				    {% for post in posts %}
				    	<div class="post-preview">
					        <a href="{% url 'post_detail' pk=post.pk %}">
								<h2 class="post-title">{{ post.title }}</h2>
								<h3 class="post-subtitle">{{ post.subtitle }}</h3>
							</a>
							<p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.published_date }}</p>
					    </div>
						<hr>
				    {% empty %}
		    			<p>No hay borradores creados!</p>
				    {% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}